.navbar {
    background-color: #006389;
}
.card-container {
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
}
  
  .card {
    margin-right: 20px;
  }
  

  .card:last-child {
    margin-right: 0;
  }


 


.navbar-brand {
    color: blueviolet;
}

  body{
    background-color: black;
  }
  .navbar-light .navbar-brand {
    color: #7e7e7e41;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    display: flex;
    justify-content: center;
}
.footer-link {
    margin: 0 10px; 
  }
